body {
  background: url("assets/images/bg_random/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  background: gold;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100vh;
}
.container h2 {
  background-color: aqua;
  color: black;
  display: inline-block;
  border: 3px solid black;
  border-radius: 20px;
  padding: 0 5px;
}
.container p {
  text-align: left;
  padding: 0px 0px 0px 5px;
  border-left: 6px solid rgb(247, 123, 7);
  border-radius: 5px;
  line-height: 1.6;
  color: #333;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 1.1em;
}
.buttons {
  margin-top: 20px;
  display: flex;

  justify-content: center;
}
.buttons a {
  text-decoration: none;
  padding: 5px 10px;
  color: white;
  background-color: #0078a2;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}
.buttons a:hover {
  background-color: #4e5507;
}

