* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
header h1{
    color: #f3f308;
}
header p{
    color: #f0f076;
}

nav {
    display: flex;
    justify-content: center;
    background: #080808;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #c6c60a;
    text-decoration: none;
    font-weight: bold;
}
input{
    border-radius: 5px;
    width: 100%;
    margin: 5px;
    height: 25px;

}
label{
    text-align: left;
    display: inline-block;
    margin: 5px;
}
.container{
    background: url('./images/hero.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    display: block;
    padding: 20px;
    color: #f3f308;
    text-align: left;
    font-weight: bold;
}
input[type="radio"]{
    width: auto;
    justify-content: left;

}

input[type="submit"],input[type="reset"]{
    background-color: #080808;
    color: #f3f308;
    font-weight: bold;
    height: 30px;
}
input[type="submit"]:hover,input[type="reset"]:hover{
    background-color:#f3f308;
    color:#080808;
    font-weight: bold;
}
input[type="submit"]:focus,input[type="reset"]:focus{
    background-color:#f3f308;
    color:#080808;
    font-weight: bold;
}
input:hover{
    background-color: #f0f076;
}
input:focus{
    background-color: #f3f308;
}
div{
    display: inline-block;
}


