* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
header h1{
    color: #f3f308;
}
header p{
    color: #f0f076;
}

nav {
    display: flex;
    justify-content: center;
    background: #080808;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #c6c60a;
    text-decoration: none;
    font-weight: bold;
}

img{
    width: 200px;
    height: 200px;
    padding: 10px;
}
main {
    background: url('./images/hero.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    display: flexbox;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}
.menuheader{
    list-style-type: none;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 30px;
    column-gap: 100px;
}
div{
    display: block;
}
.menuitem{
    background-color: black;
    border-radius: 10px;
    color: #f3f308;

}
h2{
    color: #f3f308;
    font-style: italic;
    padding: 10px;
}
.menuitem:hover{
    background-color: #f0f076;
    color: #080808;
    transform: scale(1.1);
}