body {
  background: url("/assets/images/bg_random/hero.jpg");
  background-position: center;
  background-size: cover;
  background-color: black;
  background-attachment: fixed;
  color: black;
}
.contt{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 60%;
  margin: 35px auto;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgba(255, 255, 255, 0.565);
  padding: 10px;
}

.container h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  display: inline-block;
  border-radius: 20px;
  padding: 0 5px;
  margin:10px 0 ;
}

.container p {
  background-color: gold;
  text-align: left;
  padding: 15px;
  border-left: 6px solid rgb(23, 19, 1);
  border-radius: 15px;
  line-height: 1.4;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 1em;
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.buttons a {
  text-decoration: none;
  padding: 5px 10px;
  color: white;
  background-color: gold;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  transition: 0.3s;
}

.buttons a:hover {
  font-size: 22px;
  background-color: rgb(12, 10, 0);
}
@media (max-width: 1025px) {
  .contt{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .container {
    font-size: 18px;
    padding: 8px;
  }

  .container h2 {
    font-size: 1.5em;
  }

  .container p {
    font-size: 16px;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .contt{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .container {
    font-size: 16px;
    padding: 6px;
  }

  .container h2 {
    font-size: 1.2em;
  }

  .container p {
    font-size: 14px;
    padding: 10px;
  }
}