body {
  background: url("/assets/images/bg_random/hero.jpg");
  background-position: center;
  background-size: cover;
  background-color: black;
  background-attachment: fixed;
  color: black;
}

.container {
  width: 40%;
  margin: 40px auto;
  padding: 20px;
  width: 40%;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgba(255, 255, 255, 0.565);
  padding: 20px;
}

.container h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  display: inline-block;
  border-radius: 20px;
  padding: 0 5px;
}

.container p {
  background-color: gold;
  text-align: left;
  padding: 15px;
  border-left: 6px solid gold;
  border-radius: 15px;
  line-height: 1.6;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 1.1em;
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.buttons a {
  text-decoration: none;
  padding: 5px 10px;
  color: black;
  background-color: gold;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  transition: 0.3s;
}

.buttons a:hover {
  font-size: 22px;
}