
input{
    border-radius: 5px;
    width: 100%;
    margin: 5px;
    height: 25px;

}
label{
    text-align: left;
    display: inline-block;
    margin: 5px;
}
.container{
    background: url('./images/hero.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    color: #f3f308;
    text-align: left;
    font-weight: bold;
}
input[type="radio"]{
    width: auto;
    justify-content: left;

}

input[type="submit"],input[type="reset"]{
    background-color: #080808;
    color: #f3f308;
    font-weight: bold;
    height: 30px;
}
input[type="submit"]:hover,input[type="reset"]:hover{
    background-color:#f3f308;
    color:#080808;
    font-weight: bold;
}
input[type="submit"]:focus,input[type="reset"]:focus{
    background-color:#f3f308;
    color:#080808;
    font-weight: bold;
}
input:hover{
    background-color: #f0f076;
}
input:focus{
    background-color: #f3f308;
}
div{
    display: inline-block;
}


