body {
    background-color: black;
    background-image: url('/assets/images/bg_random/hero.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: black;
}

table,
td {
    width: 100%;
    text-align: center;
}

td {
    width: 100px;
}

caption {
    font-size: 60px;
    background-color: gold;
    border-radius: 30px;
    margin: 20px 100px 40px;
    transition: 0.3s;
    box-shadow: 0 0 2px black;
}

caption:hover {
    font-size: 62px;
    box-shadow: 0 0 2px black;
}

table img {
    width: 270px;
    height: 480px;
    border: 2px gold solid;
    border-radius: 30px;
    transition: 0.3s;
    box-shadow: 0 0 5px white;
    box-shadow: 0 0 2px black;
}

table img:hover {
    width: 279px;
    height: 496px;
    border: 5px  gold solid;
    cursor: pointer;
    box-shadow: 0 0 2px black;
}

caption p,table p {
    font-size: 30px;
    transition: 0.3s;
    background-color: gold;
    border-radius: 15px;
    margin: 40px 100px;
    box-shadow: 0 0 2px black;
}

caption p:hover,table p:hover {
    font-size: 32px;
    background-color: gold;
}

a {
    text-decoration: none;
    color: black;
}