

ul img{
    width: 200px;
    height: 200px;
    padding: 10px;
}
.container {
    background: url('./images/hero.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    color: gold;
}
.menuheader{
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 30px;
    justify-content: space-around;
}
.menuitem{
    background-color: black;
    border-radius: 10px;
    color: gold;

}
h2{
    border:1px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.53);
    color: gold;
    font-style: italic;
}
.menuitem:hover{
    background-color: gold;
    color: #080808;
    transform: scale(1.05);
}